<h1 class="text-danger">Error</h1>
<h2 class="text-danger">Un erroe ocurrio al intentar procesar su peticion.</h2>

<h3>Modo desarrollador</h3>
<p>
Al cambiar <strong>Development enviroment</strong> se mlstrara informacion mas desatalla sobre el error que paso.
</p>
<p>
  <strong>El entorno de desarrollo no debe estar habilitado para aplicaciones implemntadas.</strong>
  puede dar lugar a que se muestre informacion confidencias de expcepciones a los usuarios finales.
  para la depuracon local, habilite el entorno.<strong>Development enviroment</strong>configurando la variable de entorno
  <strong>AspNetCore_ENVIROMENT</strong> a <strong>Development</strong>
  y reiniciando la aplicacion.
</p>